.loginDesign{
    height: 88vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.702);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../images/cat-logo-small.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.loginBox{
    height: 40em;
    width: 30em;
    background-color: rgba(57, 55, 55, 0.808);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    gap:1em;
    border-radius: 2em;
    
}
.loginCredentials{
    font-size: 1.2em;
    font-weight: 600;
    color:rgb(255, 255, 255);
    width: 5em;
}