.headerButtonDesign{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 1.5em;
    color:#43413f;
    margin-right: 1em;
    color: #605f5d;
    
}
.headerButtonDesign:hover{
    cursor: pointer;
    color:#C2131A;
    text-decoration:line-through;
    transition: 0.2s;
}
@media (max-width: 767px) {
    .headerButtonDesign{
        width: auto;
        height: auto;
        font-size: 0.7em;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .headerButtonDesign{
        width: auto;
    }
}
