.headerButtonDesign{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 1.5em;
    color:cadetblue;
    margin-right: 1em;
}
.headerButtonDesign:hover{
    cursor: pointer;
    color:rgb(67, 112, 113);
    text-decoration:line-through;
    transition: 0.2s;
}