.registerDesign{
    height: 88vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.931);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:2em;
    padding: 0;
    margin: 0;
}
.registerBox{
    height: 70vh;
    background-color: rgba(167, 167, 167, 0.689);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:1.2em;
    margin: 1em;
    padding: 2em;
}

.errorText{
    color: rgb(194, 25, 25);
}
.registerName{
    font-weight: 600;
    letter-spacing: 1.3em;
    margin-left: 1.3em;
    font-size: 2.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    text-decoration-line: line-through;    
    font-family:sans-serif;
}
@media (max-width: 767px) {
    .registerBox{
        width: auto;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .registerBox{
        width: auto;
    }
}
@media (min-width: 1024px) {
    .registerBox{
        width: 60vh;
    }
}