.GalleryDesign{
    height: 88vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: baseline;
    background-image: url("../../images/cat-tattoo-studio-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    
}
.galleryBox{
    height: auto;
    width: 100vw;
    display: grid;
    justify-items: center;
    align-items: flex-start;
    grid-template-columns:repeat(auto-fill, minmax(20em, 1fr));
    padding: 2em;
    background-color: rgba(218, 216, 216, 0.422);
    
    

}