.GalleryDesign{
    height: 88vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/cat-tattoo-studio-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: #ffffff;
}
.galleryBox{
    height: 40em;
    width: 85em;
    background-color: rgba(105, 95, 95, 0.259);
    display: flex;
    justify-content: center;
    align-items: center;
}