.allUsersDesign{
    height: 88vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.931);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
    overflow-x: hidden;
}
.userCard{
    height: 3em;
    width: auto;
    background-color: rgb(118, 160, 160);
    margin: 1em;

    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: space-around;
    align-items: center;
    color: black;
    padding: 1em;
    
}
.userMapDesign{
    gap:1em;
    color:black
}
