.loginInputDesign{
    height: 2em;
    width: 15em;
    margin: 1em;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 0.8em;
    border-top: 0;
    border-right: 0;
    border-style: solid;

}

.registerInput{
    background-color:rgba(255, 255, 255, 0);
    height: 2em;
    width: 15em;
    color:black;
    font-size: 1.2em;
    border-bottom-left-radius: 0.8em;
    border-top: 0;
    border-right: 0;
    border-style: solid;
}

.inputError{
    border: 0.12em rgb(158, 18, 18) solid;
    
}
@media (max-width: 767px) {
    .loginInputDesign{
        width: auto;
    }
    .registerInput{
        width: auto;
    }
}