.loginInput{
    background-color: rgb(116, 75, 83);
    height: 3em;
    width: 30em;
}

.registerInput{
    background-color: rgb(116, 75, 83);
    height: 2.5em;
    width: 30em;
    color:black;
    font-size: 1.2em;
}

.inputError{
    border: 0.1em red solid;
    
}