.loginDesign{
    height: 88vh;
    width: 100vw;

    background-color: rgba(104, 104, 104, 0.702);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:3em;
    background-image: url(../../images/tattoo-studio1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.loginBox{
    height: 30em;
    width: 40em;
    background-color: rgba(86, 136, 120, 0.76);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:3em
}