.profileDesign{
    height: 88vh;
    width: 100vw;

    background-color: rgba(104, 104, 104, 0.702);
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileData{
    height: 60vh;
    width: 60vw;
    background-color: rgb(139, 98, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2em
}

