
.homeBackground{
    height: 88vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.931); 
}

.homeDesign{
    height: 88vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/cat-tattoo-studio-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.homeBox{
    height: 10em;
    width: 100vw;

    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.homeDesign2{
    height: 10em;
    width: 100vw;

    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(74, 74, 74);
    font-size: 2em;
    
}
.bigger{
    height: 15em;
}