.homeDesign{
    height: 88vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
