.loginButton{
    height: 4em;
    width: 4em;

    background-color: rgb(0, 155, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    margin: 1em;
    font-weight: 600;
    color: whitesmoke;
}
.loginButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(17, 43, 60);
    transition: 0.2s;
}
.createProfileButton{
    height: 3em;
    width: 4em;
    background-color: rgb(25, 83, 40);
}
.createProfileButton:hover{
    cursor: pointer;
}
.takeAppointmentButton{
    height: 2em;
    width: 4em;
    background-color: rgb(18, 135, 57);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.takeAppointmentButton:hover{
    cursor: pointer;
    background-color:rgb(11, 88, 37) ;
}
.cancelAppointmentButton{
    height: 2.5em;
    width: 10em;
    background-color: rgba(210, 30, 30, 0.859);
    border-radius: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1.2em;
}
.cancelAppointmentButton:hover{
    cursor: pointer;
    background-color: rgba(164, 23, 23, 0.859);
}
.closeButton{
    background-color: rgba(76, 75, 75, 0.859); 
    height: 2em;
    width: 2em;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}
.closeButton:hover{
    cursor: pointer;
    background-color: rgb(75, 74, 74);
}
.signUpButton{
    height: 4em;
    width: 4em;

    background-color: rgb(189, 16, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    font-weight: 600;
    margin-top: 4em;
    color: whitesmoke;
}
.signUpButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(90, 24, 26);
    transition: 0.2s;
}
.editAppointmentButton{
    background-color: rgb(12, 93, 99);
    height: 2.5em;
    width: 10em;
    border-radius: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1.2em;
}
.editAppointmentButton:hover{
    cursor: pointer;
    background-color: rgba(8, 38, 57, 0.859);
}
.saveButton{
    height: 2em;
    width: 4em;
    background-color: rgb(18, 135, 57);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color:whitesmoke
}
.saveButton:hover{
    cursor: pointer;
    background-color:rgb(11, 88, 37) ;
}