.loginButton{
    height: 3em;
    width: 4em;

    background-color: rgb(55, 25, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
.loginButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(41, 17, 60);
}
.createProfileButton{
    height: 3em;
    width: 4em;
    background-color: rgb(25, 83, 40);
}
.createProfileButton:hover{
    cursor: pointer;
}
.takeAppointmentButton{
    height: 2em;
    width: 4em;
    background-color: chocolate;
    border-radius: 1em;
}
.takeAppointmentButton:hover{
    cursor: pointer;
}
.cancelAppointmentButton{
    height: 4em;
    width: 8em;
    background-color: rgb(210, 30, 30);
    border-radius: 1em;
}
.cancelAppointmentButton:hover{
    cursor: pointer;
}