.loginButton{
    height: 3em;
    width: 4em;

    background-color: rgb(55, 25, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
.loginButton:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(41, 17, 60);
}
.createProfileButton{
    height: 3em;
    width: 4em;
    background-color: rgb(25, 83, 40);
}
.createProfileButton:hover{
    cursor: pointer;
}
.takeAppointmentButton{
    height: 2em;
    width: 4em;
    background-color: rgb(18, 135, 57);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.takeAppointmentButton:hover{
    cursor: pointer;
    background-color:rgb(11, 88, 37) ;
}
.cancelAppointmentButton{
    height: 2.5em;
    width: 10em;
    background-color: rgba(210, 30, 30, 0.859);
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1.2em;
}
.cancelAppointmentButton:hover{
    cursor: pointer;
    background-color: rgba(164, 23, 23, 0.859);
}
.closeButton{
    background-color: rgba(76, 75, 75, 0.859); 
    height: 2em;
    width: 2em;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}
.closeButton:hover{
    cursor: pointer;
    background-color: rgb(75, 74, 74);
}