.galleryCard{
    height: 12em;
    width: 12em;
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.tattooImage{
    height: 10em;
    width: 10em;
}