.takeAppointmentDesign{
    height: 80vh;
    width: 80vw;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
}
.takeAppointmentBox{
    height: 20em;
    width: 30em;
    background-color: rgba(255, 255, 255, 0.732);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:2em;
    position: absolute;
}
.purposePickerDesign{
    width: 10em;
    height: 3em;
    font-size: 1em;
    border-radius: 1em;
    background-color: rgb(125, 129, 129);
}