.appointmentCardDesign{
    height: auto;
    width: auto;
    background-color: rgba(78, 168, 85, 0.836);
    border-radius: 1em;
    margin: 1em;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.appointmentCardDesign:hover{
    background-color:  rgba(32, 123, 41, 0.709);
    cursor: pointer;
    color:rgb(47, 46, 46);
    transition: 0.2s;
}