.headerDesign {

    height: 12vh;
    width: 100vw;

    background-color:  #f0f0f0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    background-color: rgb(14, 14, 14);
}

.logoHeaderDesign{
    height: 4em;
    width: 14vw;
    background-image: url("../../images/cat-logo-small.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.5em;
    margin-right: 0.5em;
    cursor: pointer;
}

.routesHeader{
    height: 3em;
    width: 85vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 767px) {
    .headerDesign{
        width: 100vw;
        height: auto;
        overflow-x: hidden;
        flex-direction: column;
        padding-bottom: 1em;
    }
    .routesHeader{
        width: auto;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        font-size:xx-large;
    }
}
