.headerDesign {

    height: 12vh;
    width: 100vw;

    background-color:  #f0f0f0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoHeaderDesign{
    height: 4em;
    width: 14vw;
    background-image: url("../../images/cat-logo-small.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.5em;
}

.routesHeader{
    height: 3em;
    width: 85vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

