.allTattooArtistsDesign{
    height: 88vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.931);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}