.appointmentAvailableDesign{
    height: 88vh;
    width: 100vw;

    background-color: rgba(104, 104, 104, 0.702);
    display: flex;
    justify-content: center;
    align-items: center;
}
.appointmentsAvailable{
    height: 70vh;
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.413);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}