.appointmentAvailableDesign{
    height: 88vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.985);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
.appointmentsAvailable{
    height: auto;
    width: 60em;
    background-color: rgba(151, 150, 150, 0.413);
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(20em, 1fr));
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 3em;
}