.newAppointmentDesign{
    height: 88vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, 0.931);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:2em
}

.newAppointmentBox{
    height: 30em;
    width: 30em;
    background-color: rgb(214, 212, 212);
    padding: 3em;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap:2em;
}
.inputTimeDesign{
    height: 3em;
    width: 20em;
}
.createAppointmentButton{
    height: 2.5em;
    width: 4.5em;
    background-color: rgb(52, 144, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5em;
    font-weight: 600;
}
.createAppointmentButton:hover{
    background-color:  rgb(33, 95, 63);
    cursor: pointer;
}

.inputPickerDesign{
    height: 3em;
    width: 15em;
    background-color: rgb(61, 63, 63);
    font-size: 1.1em;
}
